In [1]:
# data cleaning and formatting in Python

import pandas as pd

In [2]:
# import the original data from: 
# https://data.cdc.gov/NCHS/Provisional-COVID-19-Death-Counts-in-the-United-St/kn79-hsxy
# I downloaded the CSV version and imported it into Python

data = pd.read_csv("emma_original_data.csv")

In [3]:
# data used for analysis updated at 1/2/21

data

,Date as of,First week,Last week,State,County name,FIPS County Code,Urban Rural Code,Deaths involving COVID-19,Deaths from All Causes
0,1/6/21,1/4/20,1/2/21,AK,Anchorage Borough,2020,Medium metro,112,"2,143"
1,1/6/21,1/4/20,1/2/21,AK,Fairbanks North Star Borough,2090,Small metro,22,509
2,1/6/21,1/4/20,1/2/21,AK,Kenai Peninsula Borough,2122,Noncore,10,358
3,1/6/21,1/4/20,1/2/21,AK,Matanuska-Susitna Borough,2170,Medium metro,12,591
4,1/6/21,1/4/20,1/2/21,AL,Autauga County,1001,Medium metro,41,488
...,...,...,...,...,...,...,...,...,...
1860,1/6/21,1/4/20,1/2/21,WY,Laramie County,56021,Small metro,53,926
1861,1/6/21,1/4/20,1/2/21,WY,Natrona County,56025,Small metro,105,993
1862,1/6/21,1/4/20,1/2/21,WY,Sheridan County,56033,Micropolitan,16,296
1863,1/6/21,1/4/20,1/2/21,WY,Sweetwater County,56037,Micropolitan,16,344
1864,1/6/21,1/4/20,1/2/21,WY,Washakie County,56043,Noncore,13,84

In [4]:
# this step is for dropping unnessary variables

import numpy as np
to_drop = ['Date as of',
          'First week',
          'Last week']
data.drop(to_drop, inplace=True, axis=1)

In [5]:
# to check if I successfully dropped them

data

,State,County name,FIPS County Code,Urban Rural Code,Deaths involving COVID-19,Deaths from All Causes
0,AK,Anchorage Borough,2020,Medium metro,112,"2,143"
1,AK,Fairbanks North Star Borough,2090,Small metro,22,509
2,AK,Kenai Peninsula Borough,2122,Noncore,10,358
3,AK,Matanuska-Susitna Borough,2170,Medium metro,12,591
4,AL,Autauga County,1001,Medium metro,41,488
...,...,...,...,...,...,...
1860,WY,Laramie County,56021,Small metro,53,926
1861,WY,Natrona County,56025,Small metro,105,993
1862,WY,Sheridan County,56033,Micropolitan,16,296
1863,WY,Sweetwater County,56037,Micropolitan,16,344
1864,WY,Washakie County,56043,Noncore,13,84

In [6]:
# to keep data only from California, Washington, and Oregan states

data = data[data.State.isin(['CA','WA','OR'])]

In [7]:
# to check if I successfully dropped data from other states

data

,State,County name,FIPS County Code,Urban Rural Code,Deaths involving COVID-19,Deaths from All Causes
111,CA,Alameda County,6001,Large central metro,573,"10,908"
112,CA,Alpine County,6003,NaN,0,NaN
113,CA,Amador County,6005,Noncore,31,415
114,CA,Butte County,6007,Small metro,101,"2,313"
115,CA,Calaveras County,6009,Noncore,12,385
...,...,...,...,...,...,...
1778,WA,Wahkiakum County,53069,NaN,0,NaN
1779,WA,Walla Walla County,53071,Small metro,38,651
1780,WA,Whatcom County,53073,Small metro,63,"1,881"
1781,WA,Whitman County,53075,Micropolitan,21,269
1782,WA,Yakima County,53077,Small metro,266,"2,239"

In [8]:
# changing unreported data as 0 cases 
# as I googled the death cases in these counties, and the results are 0 at that time

data['Deaths from All Causes'].fillna(0, inplace = True)

/Users/emmali/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [9]:
# to check if I successfully made the change

data

,State,County name,FIPS County Code,Urban Rural Code,Deaths involving COVID-19,Deaths from All Causes
111,CA,Alameda County,6001,Large central metro,573,"10,908"
112,CA,Alpine County,6003,NaN,0,0
113,CA,Amador County,6005,Noncore,31,415
114,CA,Butte County,6007,Small metro,101,"2,313"
115,CA,Calaveras County,6009,Noncore,12,385
...,...,...,...,...,...,...
1778,WA,Wahkiakum County,53069,NaN,0,0
1779,WA,Walla Walla County,53071,Small metro,38,651
1780,WA,Whatcom County,53073,Small metro,63,"1,881"
1781,WA,Whitman County,53075,Micropolitan,21,269
1782,WA,Yakima County,53077,Small metro,266,"2,239"

In [10]:
# to make variable consistent, we changed the variable 'County name' to 'County'

data_new = data.rename(columns={'County name':'County'})

In [11]:
# to check if I successfully made the change

data_new

,State,County,FIPS County Code,Urban Rural Code,Deaths involving COVID-19,Deaths from All Causes
111,CA,Alameda County,6001,Large central metro,573,"10,908"
112,CA,Alpine County,6003,NaN,0,0
113,CA,Amador County,6005,Noncore,31,415
114,CA,Butte County,6007,Small metro,101,"2,313"
115,CA,Calaveras County,6009,Noncore,12,385
...,...,...,...,...,...,...
1778,WA,Wahkiakum County,53069,NaN,0,0
1779,WA,Walla Walla County,53071,Small metro,38,651
1780,WA,Whatcom County,53073,Small metro,63,"1,881"
1781,WA,Whitman County,53075,Micropolitan,21,269
1782,WA,Yakima County,53077,Small metro,266,"2,239"

In [12]:
# the step12 to step16 are used to changing variables' names

data_new = data.rename(columns={'FIPS County Code':'FIPS_code'})

In [13]:
data_new = data.rename(columns={'Urban Rural Code':'Urban_Rural_Code'})

In [14]:
data_new = data.rename(columns={'Death involving COVID-19':'Deaths_COVID'})

In [15]:
data_new = data.rename(columns={'Death from All Causes':'Deaths_total'})

In [16]:
data_rename = data
data_rename =data.rename(columns={'County name':'County','FIPS County Code':'FIPS_code','Urban Rural Code':'Urban_Rural_Code','Deaths involving COVID-19':'Deaths_COVID','Deaths from All Causes':'Deaths_total'},inplace=True)

/Users/emmali/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [17]:
# to check if I successfully changed the namee of variables

data

,State,County,FIPS_code,Urban_Rural_Code,Deaths_COVID,Deaths_total
111,CA,Alameda County,6001,Large central metro,573,"10,908"
112,CA,Alpine County,6003,NaN,0,0
113,CA,Amador County,6005,Noncore,31,415
114,CA,Butte County,6007,Small metro,101,"2,313"
115,CA,Calaveras County,6009,Noncore,12,385
...,...,...,...,...,...,...
1778,WA,Wahkiakum County,53069,NaN,0,0
1779,WA,Walla Walla County,53071,Small metro,38,651
1780,WA,Whatcom County,53073,Small metro,63,"1,881"
1781,WA,Whitman County,53075,Micropolitan,21,269
1782,WA,Yakima County,53077,Small metro,266,"2,239"

In [18]:
# after meeting, we decided not to keep the 'FIPS_code' variable, so I dropped it

to_drop = ['FIPS_code']
data.drop(to_drop, inplace=True, axis=1)

/Users/emmali/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [19]:
# to check if I successfully dropped the 'FIPS_code' variable

data

     State              County     Urban_Rural_Code Deaths_COVID Deaths_total
111     CA      Alameda County  Large central metro          573       10,908
112     CA       Alpine County                  NaN            0            0
113     CA       Amador County              Noncore           31          415
114     CA        Butte County          Small metro          101        2,313
115     CA    Calaveras County              Noncore           12          385
...    ...                 ...                  ...          ...          ...
1778    WA    Wahkiakum County                  NaN            0            0
1779    WA  Walla Walla County          Small metro           38          651
1780    WA      Whatcom County          Small metro           63        1,881
1781    WA      Whitman County         Micropolitan           21          269
1782    WA       Yakima County          Small metro          266        2,239

[133 rows x 5 columns]

In [20]:
# step20 to step 21 are used to check general information of my data

data.describe

<bound method NDFrame.describe of      State              County     Urban_Rural_Code Deaths_COVID Deaths_total
111     CA      Alameda County  Large central metro          573       10,908
112     CA       Alpine County                  NaN            0            0
113     CA       Amador County              Noncore           31          415
114     CA        Butte County          Small metro          101        2,313
115     CA    Calaveras County              Noncore           12          385
...    ...                 ...                  ...          ...          ...
1778    WA    Wahkiakum County                  NaN            0            0
1779    WA  Walla Walla County          Small metro           38          651
1780    WA      Whatcom County          Small metro           63        1,881
1781    WA      Whitman County         Micropolitan           21          269
1782    WA       Yakima County          Small metro          266        2,239

[133 rows x 5 columns]>

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 133 entries, 111 to 1782
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   State             133 non-null    object
 1   County            133 non-null    object
 2   Urban_Rural_Code  85 non-null     object
 3   Deaths_COVID      133 non-null    object
 4   Deaths_total      133 non-null    object
dtypes: object(5)
memory usage: 6.2+ KB

In [22]:
# just to check data frame by using code learned during class

data[data.iloc[:,3:].isnull().any(axis=1)]

Empty DataFrame
Columns: [State, County, Urban_Rural_Code, Deaths_COVID, Deaths_total]
Index: []

In [23]:
# to help better analysis and less confusion, 
# our team suggested dropping the 'County' in County variable

data['County'] = data['County'].str.replace('County', '')

<ipython-input-23-28d687420571>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['County'] = data['County'].str.replace('County', '')

In [24]:
# to check if I successfully made the change

data

     State        County     Urban_Rural_Code Deaths_COVID Deaths_total
111     CA      Alameda   Large central metro          573       10,908
112     CA       Alpine                   NaN            0            0
113     CA       Amador               Noncore           31          415
114     CA        Butte           Small metro          101        2,313
115     CA    Calaveras               Noncore           12          385
...    ...           ...                  ...          ...          ...
1778    WA    Wahkiakum                   NaN            0            0
1779    WA  Walla Walla           Small metro           38          651
1780    WA      Whatcom           Small metro           63        1,881
1781    WA      Whitman          Micropolitan           21          269
1782    WA       Yakima           Small metro          266        2,239

[133 rows x 5 columns]

In [25]:
# to drop the blank spaces of the county name
# therefore, easier to analyze and minimize mistakes

data['County'] = data['County'].str.strip()

<ipython-input-25-bdfca0213023>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['County'] = data['County'].str.strip()

In [26]:
# to check if I successfully made the change

data

     State       County     Urban_Rural_Code Deaths_COVID Deaths_total
111     CA      Alameda  Large central metro          573       10,908
112     CA       Alpine                  NaN            0            0
113     CA       Amador              Noncore           31          415
114     CA        Butte          Small metro          101        2,313
115     CA    Calaveras              Noncore           12          385
...    ...          ...                  ...          ...          ...
1778    WA    Wahkiakum                  NaN            0            0
1779    WA  Walla Walla          Small metro           38          651
1780    WA      Whatcom          Small metro           63        1,881
1781    WA      Whitman         Micropolitan           21          269
1782    WA       Yakima          Small metro          266        2,239

[133 rows x 5 columns]

In [27]:
# as there are some duplicate county names.
# we created a new variable called Location (by adding county and state together)
# to represent the location of each county

data["Location"] = data["County"].astype(str) + "_" + data["State"]
del data['State']
del data['County']

<ipython-input-27-0ee20118c1d5>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Location"] = data["County"].astype(str) + "_" + data["State"]

In [28]:
# check the data information again

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 133 entries, 111 to 1782
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Urban_Rural_Code  85 non-null     object
 1   Deaths_COVID      133 non-null    object
 2   Deaths_total      133 non-null    object
 3   Location          133 non-null    object
dtypes: object(4)
memory usage: 5.2+ KB

In [32]:
# change the string variables - 'Deaths_COVID' and 'Deaths_total' to numeric variables
# first, I change the ',' in these variables into '' (nothing)

data["Deaths_total"] = data["Deaths_total"].str.replace(',', '')
data["Deaths_COVID"] = data["Deaths_COVID"].str.replace(',', '')

<ipython-input-32-07c50206db18>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Deaths_total"] = data["Deaths_total"].str.replace(',', '')
<ipython-input-32-07c50206db18>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Deaths_COVID"] = data["Deaths_COVID"].str.replace(',', '')

In [36]:
# to check if I successfully made the change
# and to replace the missing value with 0 in 'Deaths_total'

data['Deaths_total'].fillna(0, inplace = True)
data

         Urban_Rural_Code Deaths_COVID Deaths_total        Location
111   Large central metro          573        10908      Alameda_CA
112                   NaN            0            0       Alpine_CA
113               Noncore           31          415       Amador_CA
114           Small metro          101         2313        Butte_CA
115               Noncore           12          385    Calaveras_CA
...                   ...          ...          ...             ...
1778                  NaN            0            0    Wahkiakum_WA
1779          Small metro           38          651  Walla Walla_WA
1780          Small metro           63         1881      Whatcom_WA
1781         Micropolitan           21          269      Whitman_WA
1782          Small metro          266         2239       Yakima_WA

[133 rows x 4 columns]

In [40]:
# to change string variables - 'Deaths_COVID' and 'Deaths_total' - to numeric variables

data["Deaths_total"] = pd.to_numeric(data.Deaths_total)
data["Deaths_COVID"] = pd.to_numeric(data.Deaths_COVID)

<ipython-input-40-dc911d2f4268>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Deaths_total"] = pd.to_numeric(data.Deaths_total)
<ipython-input-40-dc911d2f4268>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Deaths_COVID"] = pd.to_numeric(data.Deaths_COVID)

In [41]:
# to check if I successfully made the change

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 133 entries, 111 to 1782
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Urban_Rural_Code  85 non-null     object
 1   Deaths_COVID      133 non-null    int64
 2   Deaths_total      133 non-null    int64
 3   Location          133 non-null    object
dtypes: int64(2), object(2)
memory usage: 5.2+ KB

In [42]:
# final check of my data before exporting them into a CSV file

data

         Urban_Rural_Code  Deaths_COVID  Deaths_total        Location
111   Large central metro           573         10908      Alameda_CA
112                   NaN             0             0       Alpine_CA
113               Noncore            31           415       Amador_CA
114           Small metro           101          2313        Butte_CA
115               Noncore            12           385    Calaveras_CA
...                   ...           ...           ...             ...
1778                  NaN             0             0    Wahkiakum_WA
1779          Small metro            38           651  Walla Walla_WA
1780          Small metro            63          1881      Whatcom_WA
1781         Micropolitan            21           269      Whitman_WA
1782          Small metro           266          2239       Yakima_WA

[133 rows x 4 columns]

In [43]:
# exporting my data 

data.to_csv('emma_data.csv',header=True, index=False)